<div>
  <button (click)="myCreateElement()">Crea elemento</button>
  <button (click)="selectElement()">Selecciona elemento por etiqueta/clase</button>
  <button (click)="addMyClass()">Añade clase</button>
  <ul #myList>
    
  </ul>

  <p class=""> Texto de prueba</p>
</div>

<h2>Directiva que añade el atributo value. Por error esta definida en el componente1</h2>
<input type="text" cp5/>

<h2>Directiva que añade la propiedad id="xyz"</h2>
<div appCp6>--- Click Here --- </div>

<h2>Directiva que añade las clases "abc" y "efg"</h2>
<div appCp7>--- Namaste! --- </div> 

<h2>Directiva que añade el estilo de fondo negro y letras blancas</h2>
<div appCp8>--- Namaste! --- </div> 
