<div class="row">
	<div class="col-6">
		<div class="card">
			<div class="card-body">
				<h1>Formulario de registro.</h1>
				<form (ngSubmit)="onSubmitRegistro()">
				  <div class="form-group">
				    <label for="email">Email address</label>
				    <input type="email" class="form-control" [(ngModel)]="email" name="email"
				    	placeholder="Introducir email" autocomplete="username">
				  </div>
				  <div class="form-group">
				    <label for="password">Password</label>
				    <input type="password" class="form-control" [(ngModel)]="password" name="password"
				    	autocomplete="new-password">
				  </div>
				  <button type="submit" class="btn btn-primary btn-block">Registrar</button>
				</form>
			</div>
		</div>
	</div>
